#hr123{
    background-color: #3391C1;
    height: 2px;
    width: 100%;
    position: relative;
    top: 200px;
  }
  /*                                                            sam grid   */                                                  
  
           
          
  .flip-card {
  
    width: 300px;
    height: 200px;
   
  }
  
  .grid-img{
    width: 100%;
    height:110%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height:100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height:200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  
    
  
  .flip-card-back {
   
    transform: rotateY(180deg);
  }
  .item1 { grid-area: header; }
  .item2 { grid-area: menu; }
  .item3 { grid-area: main;}
  .item4 { grid-area: right; }
  .item5 { grid-area: footer; }
  .item6 { grid-area: left; }
  .item7 { grid-area: center; }
  
  .grid-div{
    border: px solid brown;
    margin-top: 200px;
    background-color: #F4F0DB;
  }
  .grid-container {
    display: grid;
    border: px solid red;
    grid-template-areas:
      'header header menu main'
      'right right footer main'
      'left left center  main';
  gap:0px;
  
    padding: 10px;
    width:80%;
  margin: 0px auto;
  margin-top: 0px;
  height: auto;
  margin-left: 12%;  
  background-color: none;
  
  }
  .text_div
  {
    margin-top: 5%;
    width:100%;
  }
  .grid-container > div {
    background-color: none;
    text-align: center;
    padding: 20px 0;
    
  }
  .ts
  {
    height:318%;
  }
  
  .text_div
  {
    background-color: #3391C1;
    width:93%;
    height:110% ;
    color: aliceblue;
  }
  .text{
    margin-top: -100px;
    font-size: 15px;
    width: 100%;
  }
  /* (C) POSITION CAPTION */
  .flip-card { position: relative; } /* REQUIRED */
  .flip-card figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .flip-card figcaption {
    box-sizing: border-box;
    margin-bottom: -20px;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
  }
  @media only screen and (max-width: 849px) {
    .grid-container {
      grid-template-areas: 
      'header menu'
      'right main'
      'footer footer'
      'left center';
      margin: 0px auto;
      width: 95%;
      padding: 0px;
      gap:0px ;
      top:180px;
      margin-top: 120px;
    }
    .text_div{
      height:140% ;
    }
    
    .ts
    {
      height:100%;
    }
    .grid-img{
      width: 100%;
      height: 110%;
      position: relative;
  
    }
    .text
    {
      margin-top: -50px;
    }
    .items{
      
      width:100%;
      gap:0px;
    }
    .flip-card-front
    {
      width:100%;
    }
    .flip-card-inner
    {
      width:100%
    }
   .card1
   {
    width:100%;
   }
   .flip-card
   {
    width:100%;
   }
   .grid-div{
    margin-top: 10px ;
   }
  }